@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <h4>個人 ID: <span id="UserID"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="txtUser" /></div>
    </div>
    <div class="row">
        <div class="col-2">sendToID</div>
        <div class="col-4"><input type="text" id="txtToUser" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="txtMessage" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="btnSend" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-4">
        <ul id="IDList"></ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>聊天內容</h3>
        <ul id="Content"></ul>
    </div>
</div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>