@model List<WebRedisEx.ViewModels.UserVM>


<div class="text-center">
    <p>students</p>
    <span>查詢</span>
    <input type="text" />
    <
    <div class="row-cols-1">
        <label></label>
    </div>
    <ul>
@*        @foreach (var item in Model)
        {
            <li>@item.StudentName</li>
        }*@
    </ul>


</div>
