@model WebTestEx_Redis.Models.User

<h2>User Detail</h2>

<table class="table">
    <tr>
        <th>UserId</th>
        <td>@Model.UserId</td>
    </tr>
    <tr>
        <th>UserName</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>@Model.Age</td>
    </tr>
    <!-- 添加其他字段... -->
</table>

<a asp-action="UserView">Back to List</a>